GRAFANA_ADMIN_PASSWORD = 'grafana-admin-password'
HASURA_GRAPHQL_ADMIN_SECRET = 'nhost-admin-secret'
NHOST_JWT_KID = 'replace-with-value-from-nhost-init'
NHOST_JWT_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nreplace-with-value-from-nhost-init\n-----END PRIVATE KEY-----"
NHOST_JWT_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----\nreplace-with-value-from-nhost-init\n-----END PUBLIC KEY-----"
NHOST_WEBHOOK_SECRET = 'nhost-webhook-secret'
